@page "/skirmish/lobby/{lobbyId}"
@using Battlegrounds.App.Components.Lobby
@using Battlegrounds.App.Providers.Lobby
@using Battlegrounds.Core.Games
@using Battlegrounds.Core.Lobbies
@using Battlegrounds.Core.Services

@inject ILobbyService LobbyService
@inject IGameService GameService
@inject IGamemodeService GamemodeService
@inject IScenarioService ScenarioService
@inject NavigationManager NavManager

<style>

    .skirmish-lobby-flex-container {
        display: flex;
        justify-content: space-around;
    }

    .skirmish-lobby-flex-container-col {
        flex: 1; /* Each child div will take an equal amount of space */
        padding: 10px; /* Add some space around the contents of each column */
    }

</style>

@if (lobby is null) {
    <p>Loading...</p>
} else {
    <h3>@this.lobby.Name (@this.lobby.Guid)</h3>

    <div class="skirmish-lobby-flex-container">
        <!-- Team 1 -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>@lobby.Team1.Name</h4>
            <SkirmishSlot Lobby="@lobby" TeamIndex="0" SlotIndex="0" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="0" SlotIndex="1" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="0" SlotIndex="2" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="0" SlotIndex="3" />
        </div>

        <!-- Settings -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>Settings</h4>
            <div>
                <div>
                    <!-- Map Preview -->
                </div>
                <select>
                    @foreach (var scenario in ScenarioService.GetScenarios(game!)) {
                        <option value="@scenario.FileName">@scenario.Name</option>
                    }
                </select>
            </div>
            <div>
                <!-- Settings -->
                <SkirmishSetting Lobby="@lobby" ValueProvider="@gamemodeProvider" Key="gamemode" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@gamemodeOptionsProvider" Key="gamemode_vp_option" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@percentProvider" Key="income_modifier" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@percentProvider" Key="damage_modifier" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@ToggleProvider.Instance" Key="supply" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@ToggleProvider.Instance" Key="weather" />
            </div>
            <button disabled="@(!canLaunch)" @onclick="Launch">Launch</button>
            <button @onclick="Leave">Leave</button>
        </div>

        <!-- Team 2 -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>@lobby.Team2.Name</h4>
            <SkirmishSlot Lobby="@lobby" TeamIndex="1" SlotIndex="0" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="1" SlotIndex="1" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="1" SlotIndex="2" />
            <SkirmishSlot Lobby="@lobby" TeamIndex="1" SlotIndex="3" />
        </div>
    </div>

    <!-- Chat component -->
    <div>
        @foreach (var message in chatMessages) {
            <div>
                <label>@message.Timestamp</label>
                <label>@message.Sender</label>
                <label>@message.Message</label>
            </div>
        }
    </div>

}

@code {
    [Parameter]
    public string lobbyId { get; set; } = Guid.Empty.ToString();

    private Guid guid;
    private ILobby? lobby;
    private IGame? game;

    private RangeProvider percentProvider = new RangeProvider(0,100);

    private OptionsProvider gamemodeProvider = new OptionsProvider();
    private OptionsProvider gamemodeOptionsProvider = new OptionsProvider();

    private List<ILobbyChatMessage> chatMessages = [];

    private bool canLaunch = true;

    private string SelectedScenario {
        get => "";
        set {
            Task.Run(() => {
                var scen = ScenarioService.GetScenario(game!, value);
                if (scen is not null) {
                    lobby!.SetScenario(scen); 
                }
            });
        }
    }

    protected override Task OnParametersSetAsync() {

        guid = Guid.Parse(this.lobbyId);

        lobby = LobbyService.GetActiveLobby(guid);
        if (lobby is null) {
            return base.OnParametersSetAsync();
        }

        game = GameService.FromName(lobby.Game);

        OptionsProvider.SourceFetch fetcher = () => GamemodeService.GetGamemodes(game!).Select(x => (x.Id, x.Name));
        gamemodeProvider.SetOptionsSource(fetcher);

        OptionsProvider.SourceFetch optionsFetcher = () => {
            var gamemode = GamemodeService.GetGamemode(game!, lobby.Settings["gamemode"]);
            return gamemode.Options.Select(x => (x.Key, x.Value)).ToArray();
        };
        gamemodeOptionsProvider.SetOptionsSource(optionsFetcher);

        lobby.SetUpdateCallback(() => this.InvokeAsync(StateHasChanged));
        lobby.SetChatCallback(x => ChatCallback(x));

        return base.OnParametersSetAsync();

    }

    private void ChatCallback(ILobbyChatMessage chatMessage) {

        chatMessages.Add(chatMessage);

        this.StateHasChanged();

    }

    private async Task Launch() {

        if (lobby is null) {
            return;
        }

        var isLaunching = await lobby.LaunchMatchAsync();
        if (!isLaunching) {
            return;
        }

    }

    private async Task Leave() {

        if (lobby is not null) {
            await lobby.Leave();
            LobbyService.RemoveActiveLobby(lobby.Guid);
        }

        NavManager.NavigateTo("/skirmish");

    }

}
