@page "/skirmish/lobby/{lobbyId}"
@using Battlegrounds.App.Components.Lobby
@using Battlegrounds.App.Providers.Lobby
@using Battlegrounds.Core.Games
@using Battlegrounds.Core.Lobbies
@using Battlegrounds.Core.Services

@inject ILobbyService LobbyService
@inject IGameService GameService
@inject IGamemodeService GamemodeService
@inject NavigationManager NavManager

<style>

    .skirmish-lobby-flex-container {
        display: flex;
        justify-content: space-around;
    }

    .skirmish-lobby-flex-container-col {
        flex: 1; /* Each child div will take an equal amount of space */
        padding: 10px; /* Add some space around the contents of each column */
    }

</style>

@if (lobby is null) {
    <p>Loading...</p>
} else {
    <h3>@this.lobby.Name (@this.lobby.Guid)</h3>

    <div class="skirmish-lobby-flex-container">
        <!-- Team 1 -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>@lobby.Team1.Name</h4>
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team1.Slots[0]" TeamAlliance="@lobby.Team1.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team1.Slots[1]" TeamAlliance="@lobby.Team1.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team1.Slots[2]" TeamAlliance="@lobby.Team1.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team1.Slots[3]" TeamAlliance="@lobby.Team1.Alliance" />
        </div>

        <!-- Settings -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>Settings</h4>
            <div>
                <!-- Map Preview -->
            </div>
            <div>
                <!-- Settings -->
                <SkirmishSetting Lobby="@lobby" ValueProvider="@gamemodeProvider" Key="gamemode" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@gamemodeOptionsProvider" Key="gamemode_vp_option" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@percentProvider" Key="income_modifier" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@percentProvider" Key="damage_modifier" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@ToggleProvider.Instance" Key="supply" />
                <SkirmishSetting Lobby="@lobby" ValueProvider="@ToggleProvider.Instance" Key="weather" />
            </div>
            <button @onclick="Launch">Launch</button>
            <button @onclick="Leave">Leave</button>
        </div>

        <!-- Team 2 -->
        <div class="skirmish-lobby-flex-container-col">
            <h4>@lobby.Team2.Name</h4>
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team2.Slots[0]" TeamAlliance="@lobby.Team2.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team2.Slots[1]" TeamAlliance="@lobby.Team2.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team2.Slots[2]" TeamAlliance="@lobby.Team2.Alliance" />
            <SkirmishSlot Lobby="@lobby" Slot="@lobby.Team2.Slots[3]" TeamAlliance="@lobby.Team2.Alliance" />
        </div>
    </div>

}

@code {
    [Parameter]
    public string lobbyId { get; set; } = Guid.Empty.ToString();

    private Guid guid;
    private ILobby? lobby;
    private IGame? game;

    private RangeProvider percentProvider = new RangeProvider(0,100);

    private OptionsProvider gamemodeProvider = new OptionsProvider();
    private OptionsProvider gamemodeOptionsProvider = new OptionsProvider();

    protected override Task OnParametersSetAsync() {

        guid = Guid.Parse(this.lobbyId);

        lobby = LobbyService.GetActiveLobby(guid);
        if (lobby is null) {
            return base.OnParametersSetAsync();
        }

        game = GameService.FromName(lobby.Game);

        OptionsProvider.SourceFetch fetcher = () => GamemodeService.GetGamemodes(game!).Select(x => (x.Id, x.Name));
        gamemodeProvider.SetOptionsSource(fetcher);

        OptionsProvider.SourceFetch optionsFetcher = () => {
            var gamemode = GamemodeService.GetGamemode(game!, lobby.Settings["gamemode"]);
            return gamemode.Options.Select(x => (x.Key, x.Value)).ToArray();
        };
        gamemodeOptionsProvider.SetOptionsSource(optionsFetcher);

        lobby.SetUpdateCallback(() => this.InvokeAsync(StateHasChanged));
        lobby.SetChatCallback(async x => await ChatCallback(x));

        return base.OnParametersSetAsync();

    }

    private async Task ChatCallback(ILobbyChatMessage chatMessage) {
        await Task.CompletedTask;
    }

    private async Task Launch() {
        await Task.CompletedTask;
    }

    private async Task Leave() {

        if (lobby is not null) {
            await lobby.Leave();
            LobbyService.RemoveActiveLobby(lobby.Guid);
        }

        NavManager.NavigateTo("/skirmish");

    }

}
